.products{
    display:block;
    width:100%;
    padding:0px;
    margin:2rem;
    .productResults{
        margin: 3rem -10px 0;
        display: flex;
        flex-wrap: wrap;
   
    }
}
.product{
    width: 33.333333333%; 
    height:40.0rem;
    margin:0;
    padding: 0 10px; 
    float: left;
  
    
      &:hover {
        .image {
          opacity: 0.8;
        }
    
        .custom-button {
          opacity: 0.85;
          display: flex;
        }}




    .thumbnail {
        display: block;
        width: 100%;
        img{
          display:block;
          width: 100%;
          margin: 0;
        }
    } 
    .details{
        display: block;
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto;
        ul li{
            padding: 0;
            margin: 0;
        }
        ul{
            li{
                list-style-type: none;
                display: block;
                width: 100%;
                text-align: left;
                margin: 0 0 .5rem;
               .name{
                    font-size: 1.2rem;
                    line-height: 1.2;
                font-weight: 400;
                }
               .price{
                    font-size: 1.2rem;
                    line-height: 1;
                font-weight: 400;
                }
                .AddToCart{
                        margin: 2rem 0 0 0;
                        width: 50rem;
                 
                }
              

            }    
        }
    }
}
@media screen and (max-width:900px) {
  
    .product{
        width: 50%; 
        height:37.0rem;
        margin:0;
        padding: 0 10px; 
        float: left;
      
        display: flex;
        flex-wrap: wrap;
       
    }
}
@media screen and (max-width:640px) {
  
    .product{
        width: 51%; 
        height:37.0rem;
        margin-left:110px;
        padding: 0 10px; 
        float: left;
      
        display: flex;
        flex-wrap: wrap;
       
    }
}
@media screen and (max-width:640px) {
  
    .product{
        width: 51%; 
        height:37.0rem;
        margin-left:6px;
        padding: 0 10px; 
        float: left;
      
        display: flex;
        flex-wrap: wrap;
       
    }
}
@media screen and (max-width:370px) {
  
    .product{
        width: 51%; 
        height:37.0rem;
       margin-left: 0px;
        padding: 0 10px; 
        float: left;
      
        display: flex;
        flex-wrap: wrap;
       
    }
}