.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    box-shadow: 10px 10px 10px #625c5c24;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  @media  screen and (max-width:560px) {
    .header{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // background: #000;

      height: 200px;
    }
    .options{
      width: 30%;
    
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .logo{
      width: 110px;
  
      margin-left: 143px;
      margin-top: -22px;
     
    }
    
  }
  @media  screen and (max-width:380px) {

    .logo{
      width: 110px;
  
      margin-left: 43px;
      margin-top: -22px;
     
    }
  }

  